openapi: 3.1.0
jsonSchemaDialect: https://spec.openapis.org/oas/3.1/dialect/base
info:
  title: APZHUB Law Platform API
  version: 1.0.0
  description: >
    Canonical OpenAPI specification for the tenant-scoped Law Platform REST API.
    Base path `/api/law/v1/`. Business resources (Clients through Invoices) and Health
    are implemented. Paths marked `x-implementation-status: planned` (Search, Dashboard,
    Activities, Notifications) are NOT shipped as HTTP routes — do not treat them as
    callable. Trust Accounting HTTP routes exist under `/api/law/v1/trust/**` on disk
    and are documented in Law Trust developer notes; they are not yet fully enumerated
    in this OpenAPI path set (honesty residual tracked under APZHUB-LAW-ADOPT-003 EAB-03).
    Interactive docs at `/api/docs`.
  contact:
    name: APZHUB API Support
  x-apzhube-implementation-honesty:
    programme: APZHUB-LAW-ADOPT-003
    backlog: EAB-03
    plannedPathsNotShipped:
      - /search
      - /dashboard/*
      - /activities/*
      - /notifications/*
    runtimePresentNotFullyInOpenApi:
      - /trust/**
servers:
  - url: https://api.apzhub.com/api/law/v1
    description: Production
  - url: https://staging.apzhub.com/api/law/v1
    description: Staging
  - url: http://localhost:3300/api/law/v1
    description: Local development
tags:
  - name: Clients
    description: Client directory and CRM
  - name: Matters
    description: Matter lifecycle
  - name: Documents
    description: Document metadata
  - name: Tasks
    description: Task management
  - name: Calendar
    description: Calendar events
  - name: Time
    description: Time entries
  - name: Billing
    description: Invoices and billing
  - name: Search
    description: Unified search
  - name: Dashboard
    description: Executive dashboards
  - name: Activities
    description: Activity timeline (read-only)
  - name: Notifications
    description: User notifications
  - name: Health
    description: Health and diagnostics
paths:
  /clients:
    get:
      operationId: listClients
      summary: List clients
      tags:
        - Clients
      security:
        - SessionCookie: []
        - BearerAuth: []
      parameters:
        - $ref: "#/components/parameters/CorrelationId"
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/Cursor"
        - $ref: "#/components/parameters/Sort"
        - $ref: "#/components/parameters/Fields"
        - $ref: "#/components/parameters/Include"
        - name: query
          in: query
          required: false
          schema:
            type: string
          description: Full-text filter across display name and client reference.
        - name: status
          in: query
          required: false
          schema:
            type: string
          description: Filter by client status (single value or comma-separated).
        - name: clientType
          in: query
          required: false
          schema:
            type: string
          description: Filter by client type (single value or comma-separated).
      x-required-permission: legal.client.view
      x-implementation-status: implemented
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                required:
                  - ok
                  - data
                  - pagination
                  - meta
                properties:
                  ok:
                    type: boolean
                    const: true
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/ClientSummaryV1"
                  pagination:
                    $ref: "#/components/schemas/PaginationMeta"
                  meta:
                    $ref: "#/components/schemas/ResponseMeta"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/InternalError"
    post:
      operationId: createClients
      summary: Create clients
      tags:
        - Clients
      security:
        - SessionCookie: []
        - BearerAuth: []
      parameters:
        - $ref: "#/components/parameters/CorrelationId"
        - $ref: "#/components/parameters/IdempotencyKey"
      x-required-permission: legal.client.create
      x-implementation-status: implemented
      responses:
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/InternalError"
        "201":
          description: Success
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
            x-correlation-id:
              $ref: "#/components/headers/XCorrelationId"
            etag:
              $ref: "#/components/headers/ETag"
            Location:
              $ref: "#/components/headers/Location"
          content:
            application/json:
              schema:
                type: object
                required:
                  - ok
                  - data
                  - meta
                properties:
                  ok:
                    type: boolean
                    const: true
                  data:
                    $ref: "#/components/schemas/ClientDetailV1"
                  meta:
                    $ref: "#/components/schemas/ResponseMeta"
        "400":
          $ref: "#/components/responses/ValidationError"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateClientV1Request"
    put:
      operationId: putClientsCollectionUnsupported
      summary: PUT not supported on /clients
      tags:
        - Clients
      x-implementation-status: unsupported
      x-http-status: 405
      responses:
        "405":
          $ref: "#/components/responses/MethodNotAllowed"
  /clients/{clientId}:
    get:
      operationId: getClients
      summary: Get clients by ID
      tags:
        - Clients
      security:
        - SessionCookie: []
        - BearerAuth: []
      parameters:
        - $ref: "#/components/parameters/CorrelationId"
        - $ref: "#/components/parameters/Fields"
        - $ref: "#/components/parameters/Include"
        - name: clientId
          in: path
          required: true
          schema:
            type: string
      x-required-permission: legal.client.view
      x-implementation-status: implemented
      responses:
        "200":
          description: Success
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
            x-correlation-id:
              $ref: "#/components/headers/XCorrelationId"
            etag:
              $ref: "#/components/headers/ETag"
          content:
            application/json:
              schema:
                type: object
                required:
                  - ok
                  - data
                  - meta
                properties:
                  ok:
                    type: boolean
                    const: true
                  data:
                    $ref: "#/components/schemas/ClientDetailV1"
                  meta:
                    $ref: "#/components/schemas/ResponseMeta"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/InternalError"
    patch:
      operationId: updateClients
      summary: Update clients
      tags:
        - Clients
      security:
        - SessionCookie: []
        - BearerAuth: []
      parameters:
        - $ref: "#/components/parameters/CorrelationId"
        - $ref: "#/components/parameters/IfMatch"
        - name: clientId
          in: path
          required: true
          schema:
            type: string
      x-required-permission: legal.client.edit
      x-implementation-status: implemented
      responses:
        "200":
          description: Success
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
            x-correlation-id:
              $ref: "#/components/headers/XCorrelationId"
            etag:
              $ref: "#/components/headers/ETag"
          content:
            application/json:
              schema:
                type: object
                required:
                  - ok
                  - data
                  - meta
                properties:
                  ok:
                    type: boolean
                    const: true
                  data:
                    $ref: "#/components/schemas/ClientDetailV1"
                  meta:
                    $ref: "#/components/schemas/ResponseMeta"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/InternalError"
        "400":
          $ref: "#/components/responses/ValidationError"
        "409":
          $ref: "#/components/responses/Conflict"
        "412":
          $ref: "#/components/responses/PreconditionFailed"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateClientV1Request"
    delete:
      operationId: deleteClients
      summary: Archive client (soft delete).
      tags:
        - Clients
      security:
        - SessionCookie: []
        - BearerAuth: []
      parameters:
        - $ref: "#/components/parameters/CorrelationId"
        - $ref: "#/components/parameters/IfMatch"
        - name: clientId
          in: path
          required: true
          schema:
            type: string
      x-required-permission: legal.client.delete
      x-implementation-status: implemented
      responses:
        "200":
          description: Client archived (soft delete)
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
            x-correlation-id:
              $ref: "#/components/headers/XCorrelationId"
          content:
            application/json:
              schema:
                type: object
                required:
                  - ok
                  - data
                  - meta
                properties:
                  ok:
                    type: boolean
                    const: true
                  data:
                    $ref: "#/components/schemas/ClientArchiveResponseV1"
                  meta:
                    $ref: "#/components/schemas/ResponseMeta"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "412":
          $ref: "#/components/responses/PreconditionFailed"
        "500":
          $ref: "#/components/responses/InternalError"
    put:
      operationId: putClientsUnsupported
      summary: PUT not supported in v1 — use PATCH
      description: Full replacement via PUT is not supported in Law API v1. Use PATCH for partial updates.
      tags:
        - Clients
      x-implementation-status: unsupported
      x-http-status: 405
      responses:
        "405":
          $ref: "#/components/responses/MethodNotAllowed"
  /matters:
    get:
      operationId: listMatters
      summary: List matters
      tags:
        - Matters
      security:
        - SessionCookie: []
        - BearerAuth: []
      parameters:
        - $ref: "#/components/parameters/CorrelationId"
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/Cursor"
        - $ref: "#/components/parameters/Sort"
        - $ref: "#/components/parameters/Fields"
        - $ref: "#/components/parameters/Include"
      x-required-permission: legal.matter.view
      x-implementation-status: implemented
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                required:
                  - ok
                  - data
                  - pagination
                  - meta
                properties:
                  ok:
                    type: boolean
                    const: true
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/MatterSummaryV1"
                  pagination:
                    $ref: "#/components/schemas/PaginationMeta"
                  meta:
                    $ref: "#/components/schemas/ResponseMeta"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/InternalError"
    post:
      operationId: createMatters
      summary: Create matters
      tags:
        - Matters
      security:
        - SessionCookie: []
        - BearerAuth: []
      parameters:
        - $ref: "#/components/parameters/CorrelationId"
        - $ref: "#/components/parameters/IdempotencyKey"
      x-required-permission: legal.matter.create
      x-implementation-status: implemented
      responses:
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/InternalError"
        "201":
          description: Success
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
            x-correlation-id:
              $ref: "#/components/headers/XCorrelationId"
            etag:
              $ref: "#/components/headers/ETag"
            Location:
              $ref: "#/components/headers/Location"
          content:
            application/json:
              schema:
                type: object
                required:
                  - ok
                  - data
                  - meta
                properties:
                  ok:
                    type: boolean
                    const: true
                  data:
                    $ref: "#/components/schemas/MatterDetailV1"
                  meta:
                    $ref: "#/components/schemas/ResponseMeta"
        "400":
          $ref: "#/components/responses/ValidationError"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateMatterV1Request"
    put:
      operationId: putMattersCollectionUnsupported
      summary: PUT not supported on /matters
      tags:
        - Matters
      x-implementation-status: unsupported
      x-http-status: 405
      responses:
        "405":
          $ref: "#/components/responses/MethodNotAllowed"
  /matters/{matterId}:
    get:
      operationId: getMatters
      summary: Get matters by ID
      tags:
        - Matters
      security:
        - SessionCookie: []
        - BearerAuth: []
      parameters:
        - $ref: "#/components/parameters/CorrelationId"
        - $ref: "#/components/parameters/Fields"
        - $ref: "#/components/parameters/Include"
        - name: matterId
          in: path
          required: true
          schema:
            type: string
      x-required-permission: legal.matter.view
      x-implementation-status: implemented
      responses:
        "200":
          description: Success
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
            x-correlation-id:
              $ref: "#/components/headers/XCorrelationId"
            etag:
              $ref: "#/components/headers/ETag"
          content:
            application/json:
              schema:
                type: object
                required:
                  - ok
                  - data
                  - meta
                properties:
                  ok:
                    type: boolean
                    const: true
                  data:
                    $ref: "#/components/schemas/MatterDetailV1"
                  meta:
                    $ref: "#/components/schemas/ResponseMeta"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/InternalError"
    patch:
      operationId: updateMatters
      summary: Update matters
      tags:
        - Matters
      security:
        - SessionCookie: []
        - BearerAuth: []
      parameters:
        - $ref: "#/components/parameters/CorrelationId"
        - $ref: "#/components/parameters/IfMatch"
        - name: matterId
          in: path
          required: true
          schema:
            type: string
      x-required-permission: legal.matter.edit
      x-implementation-status: implemented
      responses:
        "200":
          description: Success
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
            x-correlation-id:
              $ref: "#/components/headers/XCorrelationId"
            etag:
              $ref: "#/components/headers/ETag"
          content:
            application/json:
              schema:
                type: object
                required:
                  - ok
                  - data
                  - meta
                properties:
                  ok:
                    type: boolean
                    const: true
                  data:
                    $ref: "#/components/schemas/MatterDetailV1"
                  meta:
                    $ref: "#/components/schemas/ResponseMeta"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/InternalError"
        "400":
          $ref: "#/components/responses/ValidationError"
        "409":
          $ref: "#/components/responses/Conflict"
        "412":
          $ref: "#/components/responses/PreconditionFailed"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateMatterV1Request"
    delete:
      operationId: deleteMatters
      summary: Archive matter.
      tags:
        - Matters
      security:
        - SessionCookie: []
        - BearerAuth: []
      parameters:
        - $ref: "#/components/parameters/CorrelationId"
        - $ref: "#/components/parameters/IfMatch"
        - name: matterId
          in: path
          required: true
          schema:
            type: string
      x-required-permission: legal.matter.archive
      x-implementation-status: implemented
      responses:
        "204":
          description: Deleted or archived
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "412":
          $ref: "#/components/responses/PreconditionFailed"
        "500":
          $ref: "#/components/responses/InternalError"
    put:
      operationId: putMattersUnsupported
      summary: PUT not supported in v1 — use PATCH
      description: Full replacement via PUT is not supported in Law API v1. Use PATCH for partial updates.
      tags:
        - Matters
      x-implementation-status: unsupported
      x-http-status: 405
      responses:
        "405":
          $ref: "#/components/responses/MethodNotAllowed"
  /documents:
    get:
      operationId: listDocuments
      summary: List documents
      tags:
        - Documents
      security:
        - SessionCookie: []
        - BearerAuth: []
      parameters:
        - $ref: "#/components/parameters/CorrelationId"
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/Cursor"
        - $ref: "#/components/parameters/Sort"
        - $ref: "#/components/parameters/Fields"
        - $ref: "#/components/parameters/Include"
      x-required-permission: legal.document.view
      x-implementation-status: implemented
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                required:
                  - ok
                  - data
                  - pagination
                  - meta
                properties:
                  ok:
                    type: boolean
                    const: true
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/DocumentSummaryV1"
                  pagination:
                    $ref: "#/components/schemas/PaginationMeta"
                  meta:
                    $ref: "#/components/schemas/ResponseMeta"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/InternalError"
    post:
      operationId: createDocuments
      summary: Create documents
      tags:
        - Documents
      security:
        - SessionCookie: []
        - BearerAuth: []
      parameters:
        - $ref: "#/components/parameters/CorrelationId"
        - $ref: "#/components/parameters/IdempotencyKey"
      x-required-permission: legal.document.create
      x-implementation-status: implemented
      responses:
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/InternalError"
        "201":
          description: Success
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
            x-correlation-id:
              $ref: "#/components/headers/XCorrelationId"
            etag:
              $ref: "#/components/headers/ETag"
            Location:
              $ref: "#/components/headers/Location"
          content:
            application/json:
              schema:
                type: object
                required:
                  - ok
                  - data
                  - meta
                properties:
                  ok:
                    type: boolean
                    const: true
                  data:
                    $ref: "#/components/schemas/DocumentDetailV1"
                  meta:
                    $ref: "#/components/schemas/ResponseMeta"
        "400":
          $ref: "#/components/responses/ValidationError"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateDocumentV1Request"
    put:
      operationId: putDocumentsCollectionUnsupported
      summary: PUT not supported on /documents
      tags:
        - Documents
      x-implementation-status: unsupported
      x-http-status: 405
      responses:
        "405":
          $ref: "#/components/responses/MethodNotAllowed"
  /documents/{documentId}:
    get:
      operationId: getDocuments
      summary: Get documents by ID
      tags:
        - Documents
      security:
        - SessionCookie: []
        - BearerAuth: []
      parameters:
        - $ref: "#/components/parameters/CorrelationId"
        - $ref: "#/components/parameters/Fields"
        - $ref: "#/components/parameters/Include"
        - name: documentId
          in: path
          required: true
          schema:
            type: string
      x-required-permission: legal.document.view
      x-implementation-status: implemented
      responses:
        "200":
          description: Success
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
            x-correlation-id:
              $ref: "#/components/headers/XCorrelationId"
            etag:
              $ref: "#/components/headers/ETag"
          content:
            application/json:
              schema:
                type: object
                required:
                  - ok
                  - data
                  - meta
                properties:
                  ok:
                    type: boolean
                    const: true
                  data:
                    $ref: "#/components/schemas/DocumentDetailV1"
                  meta:
                    $ref: "#/components/schemas/ResponseMeta"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/InternalError"
    patch:
      operationId: updateDocuments
      summary: Update documents
      tags:
        - Documents
      security:
        - SessionCookie: []
        - BearerAuth: []
      parameters:
        - $ref: "#/components/parameters/CorrelationId"
        - $ref: "#/components/parameters/IfMatch"
        - name: documentId
          in: path
          required: true
          schema:
            type: string
      x-required-permission: legal.document.edit
      x-implementation-status: implemented
      responses:
        "200":
          description: Success
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
            x-correlation-id:
              $ref: "#/components/headers/XCorrelationId"
            etag:
              $ref: "#/components/headers/ETag"
          content:
            application/json:
              schema:
                type: object
                required:
                  - ok
                  - data
                  - meta
                properties:
                  ok:
                    type: boolean
                    const: true
                  data:
                    $ref: "#/components/schemas/DocumentDetailV1"
                  meta:
                    $ref: "#/components/schemas/ResponseMeta"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/InternalError"
        "400":
          $ref: "#/components/responses/ValidationError"
        "409":
          $ref: "#/components/responses/Conflict"
        "412":
          $ref: "#/components/responses/PreconditionFailed"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateDocumentV1Request"
    delete:
      operationId: deleteDocuments
      summary: Archive document metadata.
      tags:
        - Documents
      security:
        - SessionCookie: []
        - BearerAuth: []
      parameters:
        - $ref: "#/components/parameters/CorrelationId"
        - $ref: "#/components/parameters/IfMatch"
        - name: documentId
          in: path
          required: true
          schema:
            type: string
      x-required-permission: legal.document.archive
      x-implementation-status: implemented
      responses:
        "204":
          description: Deleted or archived
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "412":
          $ref: "#/components/responses/PreconditionFailed"
        "500":
          $ref: "#/components/responses/InternalError"
    put:
      operationId: putDocumentsUnsupported
      summary: PUT not supported in v1 — use PATCH
      description: Full replacement via PUT is not supported in Law API v1. Use PATCH for partial updates.
      tags:
        - Documents
      x-implementation-status: unsupported
      x-http-status: 405
      responses:
        "405":
          $ref: "#/components/responses/MethodNotAllowed"
  /tasks:
    get:
      operationId: listTasks
      summary: List tasks
      tags:
        - Tasks
      security:
        - SessionCookie: []
        - BearerAuth: []
      parameters:
        - $ref: "#/components/parameters/CorrelationId"
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/Cursor"
        - $ref: "#/components/parameters/Sort"
        - $ref: "#/components/parameters/Fields"
        - $ref: "#/components/parameters/Include"
      x-required-permission: legal.task.view
      x-implementation-status: implemented
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                required:
                  - ok
                  - data
                  - pagination
                  - meta
                properties:
                  ok:
                    type: boolean
                    const: true
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/TaskSummaryV1"
                  pagination:
                    $ref: "#/components/schemas/PaginationMeta"
                  meta:
                    $ref: "#/components/schemas/ResponseMeta"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/InternalError"
    post:
      operationId: createTasks
      summary: Create tasks
      tags:
        - Tasks
      security:
        - SessionCookie: []
        - BearerAuth: []
      parameters:
        - $ref: "#/components/parameters/CorrelationId"
        - $ref: "#/components/parameters/IdempotencyKey"
      x-required-permission: legal.task.create
      x-implementation-status: implemented
      responses:
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/InternalError"
        "201":
          description: Success
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
            x-correlation-id:
              $ref: "#/components/headers/XCorrelationId"
            etag:
              $ref: "#/components/headers/ETag"
            Location:
              $ref: "#/components/headers/Location"
          content:
            application/json:
              schema:
                type: object
                required:
                  - ok
                  - data
                  - meta
                properties:
                  ok:
                    type: boolean
                    const: true
                  data:
                    $ref: "#/components/schemas/TaskDetailV1"
                  meta:
                    $ref: "#/components/schemas/ResponseMeta"
        "400":
          $ref: "#/components/responses/ValidationError"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateTaskV1Request"
    put:
      operationId: putTasksCollectionUnsupported
      summary: PUT not supported on /tasks
      tags:
        - Tasks
      x-implementation-status: unsupported
      x-http-status: 405
      responses:
        "405":
          $ref: "#/components/responses/MethodNotAllowed"
  /tasks/{taskId}:
    get:
      operationId: getTasks
      summary: Get tasks by ID
      tags:
        - Tasks
      security:
        - SessionCookie: []
        - BearerAuth: []
      parameters:
        - $ref: "#/components/parameters/CorrelationId"
        - $ref: "#/components/parameters/Fields"
        - $ref: "#/components/parameters/Include"
        - name: taskId
          in: path
          required: true
          schema:
            type: string
      x-required-permission: legal.task.view
      x-implementation-status: implemented
      responses:
        "200":
          description: Success
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
            x-correlation-id:
              $ref: "#/components/headers/XCorrelationId"
            etag:
              $ref: "#/components/headers/ETag"
          content:
            application/json:
              schema:
                type: object
                required:
                  - ok
                  - data
                  - meta
                properties:
                  ok:
                    type: boolean
                    const: true
                  data:
                    $ref: "#/components/schemas/TaskDetailV1"
                  meta:
                    $ref: "#/components/schemas/ResponseMeta"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/InternalError"
    patch:
      operationId: updateTasks
      summary: Update tasks
      tags:
        - Tasks
      security:
        - SessionCookie: []
        - BearerAuth: []
      parameters:
        - $ref: "#/components/parameters/CorrelationId"
        - $ref: "#/components/parameters/IfMatch"
        - name: taskId
          in: path
          required: true
          schema:
            type: string
      x-required-permission: legal.task.edit
      x-implementation-status: implemented
      responses:
        "200":
          description: Success
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
            x-correlation-id:
              $ref: "#/components/headers/XCorrelationId"
            etag:
              $ref: "#/components/headers/ETag"
          content:
            application/json:
              schema:
                type: object
                required:
                  - ok
                  - data
                  - meta
                properties:
                  ok:
                    type: boolean
                    const: true
                  data:
                    $ref: "#/components/schemas/TaskDetailV1"
                  meta:
                    $ref: "#/components/schemas/ResponseMeta"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/InternalError"
        "400":
          $ref: "#/components/responses/ValidationError"
        "409":
          $ref: "#/components/responses/Conflict"
        "412":
          $ref: "#/components/responses/PreconditionFailed"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateTaskV1Request"
    delete:
      operationId: deleteTasks
      summary: Archive task.
      tags:
        - Tasks
      security:
        - SessionCookie: []
        - BearerAuth: []
      parameters:
        - $ref: "#/components/parameters/CorrelationId"
        - $ref: "#/components/parameters/IfMatch"
        - name: taskId
          in: path
          required: true
          schema:
            type: string
      x-required-permission: legal.task.archive
      x-implementation-status: implemented
      responses:
        "204":
          description: Deleted or archived
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "412":
          $ref: "#/components/responses/PreconditionFailed"
        "500":
          $ref: "#/components/responses/InternalError"
    put:
      operationId: putTasksUnsupported
      summary: PUT not supported in v1 — use PATCH
      description: Full replacement via PUT is not supported in Law API v1. Use PATCH for partial updates.
      tags:
        - Tasks
      x-implementation-status: unsupported
      x-http-status: 405
      responses:
        "405":
          $ref: "#/components/responses/MethodNotAllowed"
  /calendar-events:
    get:
      operationId: listCalendar
      summary: List calendar
      tags:
        - Calendar
      security:
        - SessionCookie: []
        - BearerAuth: []
      parameters:
        - $ref: "#/components/parameters/CorrelationId"
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/Cursor"
        - $ref: "#/components/parameters/Sort"
        - $ref: "#/components/parameters/Fields"
        - $ref: "#/components/parameters/Include"
      x-required-permission: legal.calendar.view
      x-implementation-status: implemented
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                required:
                  - ok
                  - data
                  - pagination
                  - meta
                properties:
                  ok:
                    type: boolean
                    const: true
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/CalendarEventSummaryV1"
                  pagination:
                    $ref: "#/components/schemas/PaginationMeta"
                  meta:
                    $ref: "#/components/schemas/ResponseMeta"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/InternalError"
    post:
      operationId: createCalendar
      summary: Create calendar
      tags:
        - Calendar
      security:
        - SessionCookie: []
        - BearerAuth: []
      parameters:
        - $ref: "#/components/parameters/CorrelationId"
        - $ref: "#/components/parameters/IdempotencyKey"
      x-required-permission: legal.calendar.create
      x-implementation-status: implemented
      responses:
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/InternalError"
        "201":
          description: Success
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
            x-correlation-id:
              $ref: "#/components/headers/XCorrelationId"
            etag:
              $ref: "#/components/headers/ETag"
            Location:
              $ref: "#/components/headers/Location"
          content:
            application/json:
              schema:
                type: object
                required:
                  - ok
                  - data
                  - meta
                properties:
                  ok:
                    type: boolean
                    const: true
                  data:
                    $ref: "#/components/schemas/CalendarEventDetailV1"
                  meta:
                    $ref: "#/components/schemas/ResponseMeta"
        "400":
          $ref: "#/components/responses/ValidationError"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateCalendarEventV1Request"
    put:
      operationId: putCalendarCollectionUnsupported
      summary: PUT not supported on /calendar-events
      tags:
        - Calendar
      x-implementation-status: unsupported
      x-http-status: 405
      responses:
        "405":
          $ref: "#/components/responses/MethodNotAllowed"
  /calendar-events/{calendarEventId}:
    get:
      operationId: getCalendar
      summary: Get calendar by ID
      tags:
        - Calendar
      security:
        - SessionCookie: []
        - BearerAuth: []
      parameters:
        - $ref: "#/components/parameters/CorrelationId"
        - $ref: "#/components/parameters/Fields"
        - $ref: "#/components/parameters/Include"
        - name: calendarEventId
          in: path
          required: true
          schema:
            type: string
      x-required-permission: legal.calendar.view
      x-implementation-status: implemented
      responses:
        "200":
          description: Success
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
            x-correlation-id:
              $ref: "#/components/headers/XCorrelationId"
            etag:
              $ref: "#/components/headers/ETag"
          content:
            application/json:
              schema:
                type: object
                required:
                  - ok
                  - data
                  - meta
                properties:
                  ok:
                    type: boolean
                    const: true
                  data:
                    $ref: "#/components/schemas/CalendarEventDetailV1"
                  meta:
                    $ref: "#/components/schemas/ResponseMeta"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/InternalError"
    patch:
      operationId: updateCalendar
      summary: Update calendar
      tags:
        - Calendar
      security:
        - SessionCookie: []
        - BearerAuth: []
      parameters:
        - $ref: "#/components/parameters/CorrelationId"
        - $ref: "#/components/parameters/IfMatch"
        - name: calendarEventId
          in: path
          required: true
          schema:
            type: string
      x-required-permission: legal.calendar.edit
      x-implementation-status: implemented
      responses:
        "200":
          description: Success
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
            x-correlation-id:
              $ref: "#/components/headers/XCorrelationId"
            etag:
              $ref: "#/components/headers/ETag"
          content:
            application/json:
              schema:
                type: object
                required:
                  - ok
                  - data
                  - meta
                properties:
                  ok:
                    type: boolean
                    const: true
                  data:
                    $ref: "#/components/schemas/CalendarEventDetailV1"
                  meta:
                    $ref: "#/components/schemas/ResponseMeta"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/InternalError"
        "400":
          $ref: "#/components/responses/ValidationError"
        "409":
          $ref: "#/components/responses/Conflict"
        "412":
          $ref: "#/components/responses/PreconditionFailed"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateCalendarEventV1Request"
    delete:
      operationId: deleteCalendar
      summary: Cancel calendar event.
      tags:
        - Calendar
      security:
        - SessionCookie: []
        - BearerAuth: []
      parameters:
        - $ref: "#/components/parameters/CorrelationId"
        - $ref: "#/components/parameters/IfMatch"
        - name: calendarEventId
          in: path
          required: true
          schema:
            type: string
      x-required-permission: legal.calendar.cancel
      x-implementation-status: implemented
      responses:
        "204":
          description: Deleted or archived
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "412":
          $ref: "#/components/responses/PreconditionFailed"
        "500":
          $ref: "#/components/responses/InternalError"
    put:
      operationId: putCalendarUnsupported
      summary: PUT not supported in v1 — use PATCH
      description: Full replacement via PUT is not supported in Law API v1. Use PATCH for partial updates.
      tags:
        - Calendar
      x-implementation-status: unsupported
      x-http-status: 405
      responses:
        "405":
          $ref: "#/components/responses/MethodNotAllowed"
  /time-entries:
    get:
      operationId: listTime
      summary: List time
      tags:
        - Time
      security:
        - SessionCookie: []
        - BearerAuth: []
      parameters:
        - $ref: "#/components/parameters/CorrelationId"
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/Cursor"
        - $ref: "#/components/parameters/Sort"
        - $ref: "#/components/parameters/Fields"
        - $ref: "#/components/parameters/Include"
      x-required-permission: legal.time.view
      x-implementation-status: implemented
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                required:
                  - ok
                  - data
                  - pagination
                  - meta
                properties:
                  ok:
                    type: boolean
                    const: true
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/TimeEntrySummaryV1"
                  pagination:
                    $ref: "#/components/schemas/PaginationMeta"
                  meta:
                    $ref: "#/components/schemas/ResponseMeta"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/InternalError"
    post:
      operationId: createTime
      summary: Create time
      tags:
        - Time
      security:
        - SessionCookie: []
        - BearerAuth: []
      parameters:
        - $ref: "#/components/parameters/CorrelationId"
        - $ref: "#/components/parameters/IdempotencyKey"
      x-required-permission: legal.time.create
      x-implementation-status: implemented
      responses:
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/InternalError"
        "201":
          description: Success
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
            x-correlation-id:
              $ref: "#/components/headers/XCorrelationId"
            etag:
              $ref: "#/components/headers/ETag"
            Location:
              $ref: "#/components/headers/Location"
          content:
            application/json:
              schema:
                type: object
                required:
                  - ok
                  - data
                  - meta
                properties:
                  ok:
                    type: boolean
                    const: true
                  data:
                    $ref: "#/components/schemas/TimeEntryDetailV1"
                  meta:
                    $ref: "#/components/schemas/ResponseMeta"
        "400":
          $ref: "#/components/responses/ValidationError"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateTimeEntryV1Request"
    put:
      operationId: putTimeCollectionUnsupported
      summary: PUT not supported on /time-entries
      tags:
        - Time
      x-implementation-status: unsupported
      x-http-status: 405
      responses:
        "405":
          $ref: "#/components/responses/MethodNotAllowed"
  /time-entries/{timeEntryId}:
    get:
      operationId: getTime
      summary: Get time by ID
      tags:
        - Time
      security:
        - SessionCookie: []
        - BearerAuth: []
      parameters:
        - $ref: "#/components/parameters/CorrelationId"
        - $ref: "#/components/parameters/Fields"
        - $ref: "#/components/parameters/Include"
        - name: timeEntryId
          in: path
          required: true
          schema:
            type: string
      x-required-permission: legal.time.view
      x-implementation-status: implemented
      responses:
        "200":
          description: Success
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
            x-correlation-id:
              $ref: "#/components/headers/XCorrelationId"
            etag:
              $ref: "#/components/headers/ETag"
          content:
            application/json:
              schema:
                type: object
                required:
                  - ok
                  - data
                  - meta
                properties:
                  ok:
                    type: boolean
                    const: true
                  data:
                    $ref: "#/components/schemas/TimeEntryDetailV1"
                  meta:
                    $ref: "#/components/schemas/ResponseMeta"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/InternalError"
    patch:
      operationId: updateTime
      summary: Update time
      tags:
        - Time
      security:
        - SessionCookie: []
        - BearerAuth: []
      parameters:
        - $ref: "#/components/parameters/CorrelationId"
        - $ref: "#/components/parameters/IfMatch"
        - name: timeEntryId
          in: path
          required: true
          schema:
            type: string
      x-required-permission: legal.time.edit
      x-implementation-status: implemented
      responses:
        "200":
          description: Success
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
            x-correlation-id:
              $ref: "#/components/headers/XCorrelationId"
            etag:
              $ref: "#/components/headers/ETag"
          content:
            application/json:
              schema:
                type: object
                required:
                  - ok
                  - data
                  - meta
                properties:
                  ok:
                    type: boolean
                    const: true
                  data:
                    $ref: "#/components/schemas/TimeEntryDetailV1"
                  meta:
                    $ref: "#/components/schemas/ResponseMeta"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/InternalError"
        "400":
          $ref: "#/components/responses/ValidationError"
        "409":
          $ref: "#/components/responses/Conflict"
        "412":
          $ref: "#/components/responses/PreconditionFailed"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateTimeEntryV1Request"
    delete:
      operationId: deleteTime
      summary: Delete time entry (hard delete when unbilled).
      tags:
        - Time
      security:
        - SessionCookie: []
        - BearerAuth: []
      parameters:
        - $ref: "#/components/parameters/CorrelationId"
        - $ref: "#/components/parameters/IfMatch"
        - name: timeEntryId
          in: path
          required: true
          schema:
            type: string
      x-required-permission: legal.time.delete
      x-implementation-status: implemented
      responses:
        "204":
          description: Deleted or archived
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "412":
          $ref: "#/components/responses/PreconditionFailed"
        "500":
          $ref: "#/components/responses/InternalError"
    put:
      operationId: putTimeUnsupported
      summary: PUT not supported in v1 — use PATCH
      description: Full replacement via PUT is not supported in Law API v1. Use PATCH for partial updates.
      tags:
        - Time
      x-implementation-status: unsupported
      x-http-status: 405
      responses:
        "405":
          $ref: "#/components/responses/MethodNotAllowed"
  /invoices:
    get:
      operationId: listBilling
      summary: List billing
      tags:
        - Billing
      security:
        - SessionCookie: []
        - BearerAuth: []
      parameters:
        - $ref: "#/components/parameters/CorrelationId"
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/Cursor"
        - $ref: "#/components/parameters/Sort"
        - $ref: "#/components/parameters/Fields"
        - $ref: "#/components/parameters/Include"
      x-required-permission: legal.invoice.view
      x-implementation-status: implemented
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                required:
                  - ok
                  - data
                  - pagination
                  - meta
                properties:
                  ok:
                    type: boolean
                    const: true
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/InvoiceSummaryV1"
                  pagination:
                    $ref: "#/components/schemas/PaginationMeta"
                  meta:
                    $ref: "#/components/schemas/ResponseMeta"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/InternalError"
    post:
      operationId: createBilling
      summary: Create billing
      tags:
        - Billing
      security:
        - SessionCookie: []
        - BearerAuth: []
      parameters:
        - $ref: "#/components/parameters/CorrelationId"
        - $ref: "#/components/parameters/IdempotencyKey"
      x-required-permission: legal.invoice.create
      x-implementation-status: implemented
      responses:
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/InternalError"
        "201":
          description: Success
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
            x-correlation-id:
              $ref: "#/components/headers/XCorrelationId"
            etag:
              $ref: "#/components/headers/ETag"
            Location:
              $ref: "#/components/headers/Location"
          content:
            application/json:
              schema:
                type: object
                required:
                  - ok
                  - data
                  - meta
                properties:
                  ok:
                    type: boolean
                    const: true
                  data:
                    $ref: "#/components/schemas/InvoiceDetailV1"
                  meta:
                    $ref: "#/components/schemas/ResponseMeta"
        "400":
          $ref: "#/components/responses/ValidationError"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateInvoiceV1Request"
    put:
      operationId: putBillingCollectionUnsupported
      summary: PUT not supported on /invoices
      tags:
        - Billing
      x-implementation-status: unsupported
      x-http-status: 405
      responses:
        "405":
          $ref: "#/components/responses/MethodNotAllowed"
  /invoices/{invoiceId}:
    get:
      operationId: getBilling
      summary: Get billing by ID
      tags:
        - Billing
      security:
        - SessionCookie: []
        - BearerAuth: []
      parameters:
        - $ref: "#/components/parameters/CorrelationId"
        - $ref: "#/components/parameters/Fields"
        - $ref: "#/components/parameters/Include"
        - name: invoiceId
          in: path
          required: true
          schema:
            type: string
      x-required-permission: legal.invoice.view
      x-implementation-status: implemented
      responses:
        "200":
          description: Success
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
            x-correlation-id:
              $ref: "#/components/headers/XCorrelationId"
            etag:
              $ref: "#/components/headers/ETag"
          content:
            application/json:
              schema:
                type: object
                required:
                  - ok
                  - data
                  - meta
                properties:
                  ok:
                    type: boolean
                    const: true
                  data:
                    $ref: "#/components/schemas/InvoiceDetailV1"
                  meta:
                    $ref: "#/components/schemas/ResponseMeta"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/InternalError"
    patch:
      operationId: updateBilling
      summary: Update billing
      tags:
        - Billing
      security:
        - SessionCookie: []
        - BearerAuth: []
      parameters:
        - $ref: "#/components/parameters/CorrelationId"
        - $ref: "#/components/parameters/IfMatch"
        - name: invoiceId
          in: path
          required: true
          schema:
            type: string
      x-required-permission: legal.invoice.edit
      x-implementation-status: implemented
      responses:
        "200":
          description: Success
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
            x-correlation-id:
              $ref: "#/components/headers/XCorrelationId"
            etag:
              $ref: "#/components/headers/ETag"
          content:
            application/json:
              schema:
                type: object
                required:
                  - ok
                  - data
                  - meta
                properties:
                  ok:
                    type: boolean
                    const: true
                  data:
                    $ref: "#/components/schemas/InvoiceDetailV1"
                  meta:
                    $ref: "#/components/schemas/ResponseMeta"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/InternalError"
        "400":
          $ref: "#/components/responses/ValidationError"
        "409":
          $ref: "#/components/responses/Conflict"
        "412":
          $ref: "#/components/responses/PreconditionFailed"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateInvoiceV1Request"
    delete:
      operationId: deleteBilling
      summary: Void invoice when in draft; cancel otherwise.
      tags:
        - Billing
      security:
        - SessionCookie: []
        - BearerAuth: []
      parameters:
        - $ref: "#/components/parameters/CorrelationId"
        - $ref: "#/components/parameters/IfMatch"
        - name: invoiceId
          in: path
          required: true
          schema:
            type: string
      x-required-permission: legal.invoice.cancel
      x-implementation-status: implemented
      responses:
        "204":
          description: Deleted or archived
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "412":
          $ref: "#/components/responses/PreconditionFailed"
        "500":
          $ref: "#/components/responses/InternalError"
    put:
      operationId: putBillingUnsupported
      summary: PUT not supported in v1 — use PATCH
      description: Full replacement via PUT is not supported in Law API v1. Use PATCH for partial updates.
      tags:
        - Billing
      x-implementation-status: unsupported
      x-http-status: 405
      responses:
        "405":
          $ref: "#/components/responses/MethodNotAllowed"
  /search:
    get:
      operationId: searchLegalEntities
      summary: Quick search across legal entities
      tags:
        - Search
      x-implementation-status: planned
      x-required-permission: legal.search.execute
      security:
        - SessionCookie: []
        - BearerAuth: []
      parameters:
        - $ref: "#/components/parameters/CorrelationId"
        - $ref: "#/components/parameters/Limit"
        - name: query
          in: query
          required: true
          schema:
            type: string
            minLength: 1
        - name: entityTypes
          in: query
          required: false
          schema:
            type: string
          description: Comma-separated entity types to search.
      responses:
        "200":
          description: Search results
          content:
            application/json:
              schema:
                type: object
                required:
                  - ok
                  - data
                  - meta
                properties:
                  ok:
                    type: boolean
                    const: true
                  data:
                    $ref: "#/components/schemas/SearchResultV1"
                  meta:
                    $ref: "#/components/schemas/ResponseMeta"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "400":
          $ref: "#/components/responses/ValidationError"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/InternalError"
    post:
      operationId: searchLegalEntitiesAdvanced
      summary: Advanced search with structured query body
      tags:
        - Search
      x-implementation-status: planned
      x-required-permission: legal.search.execute
      security:
        - SessionCookie: []
        - BearerAuth: []
      parameters:
        - $ref: "#/components/parameters/CorrelationId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SearchQueryV1"
      responses:
        "200":
          description: Search results
          content:
            application/json:
              schema:
                type: object
                required:
                  - ok
                  - data
                  - meta
                properties:
                  ok:
                    type: boolean
                    const: true
                  data:
                    $ref: "#/components/schemas/SearchResultV1"
                  meta:
                    $ref: "#/components/schemas/ResponseMeta"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "400":
          $ref: "#/components/responses/ValidationError"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/InternalError"
  /dashboard/executive:
    get:
      operationId: getExecutiveDashboard
      summary: Executive firm overview dashboard
      tags:
        - Dashboard
      x-implementation-status: planned
      x-required-permission: legal.nav.dashboard.view
      security:
        - SessionCookie: []
        - BearerAuth: []
      parameters:
        - $ref: "#/components/parameters/CorrelationId"
      responses:
        "200":
          description: Dashboard snapshot
          content:
            application/json:
              schema:
                type: object
                required:
                  - ok
                  - data
                  - meta
                properties:
                  ok:
                    type: boolean
                    const: true
                  data:
                    $ref: "#/components/schemas/ExecutiveDashboardV1"
                  meta:
                    $ref: "#/components/schemas/ResponseMeta"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "500":
          $ref: "#/components/responses/InternalError"
  /activities:
    get:
      operationId: listActivities
      summary: List activity timeline entries
      tags:
        - Activities
      x-implementation-status: planned
      x-required-permission: legal.activity.view
      security:
        - SessionCookie: []
        - BearerAuth: []
      parameters:
        - $ref: "#/components/parameters/CorrelationId"
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/Cursor"
        - name: matterId
          in: query
          schema:
            type: string
        - name: clientId
          in: query
          schema:
            type: string
      responses:
        "200":
          description: Activity list
          content:
            application/json:
              schema:
                type: object
                required:
                  - ok
                  - data
                  - pagination
                  - meta
                properties:
                  ok:
                    type: boolean
                    const: true
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/ActivityV1"
                  pagination:
                    $ref: "#/components/schemas/PaginationMeta"
                  meta:
                    $ref: "#/components/schemas/ResponseMeta"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/InternalError"
  /activities/{activityId}:
    get:
      operationId: getActivity
      summary: Get activity by ID
      tags:
        - Activities
      x-implementation-status: planned
      x-required-permission: legal.activity.view
      security:
        - SessionCookie: []
        - BearerAuth: []
      parameters:
        - $ref: "#/components/parameters/CorrelationId"
        - name: activityId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Activity detail
          content:
            application/json:
              schema:
                type: object
                required:
                  - ok
                  - data
                  - meta
                properties:
                  ok:
                    type: boolean
                    const: true
                  data:
                    $ref: "#/components/schemas/ActivityV1"
                  meta:
                    $ref: "#/components/schemas/ResponseMeta"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"
    post:
      operationId: createActivityUnsupported
      summary: POST not supported — activities are system-generated
      tags:
        - Activities
      x-implementation-status: unsupported
      responses:
        "405":
          $ref: "#/components/responses/MethodNotAllowed"
  /notifications:
    get:
      operationId: listNotifications
      summary: List user notifications
      tags:
        - Notifications
      x-implementation-status: planned
      x-required-permission: legal.notification.view
      security:
        - SessionCookie: []
        - BearerAuth: []
      parameters:
        - $ref: "#/components/parameters/CorrelationId"
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/Cursor"
        - name: read
          in: query
          schema:
            type: boolean
      responses:
        "200":
          description: Notification list
          content:
            application/json:
              schema:
                type: object
                required:
                  - ok
                  - data
                  - pagination
                  - meta
                properties:
                  ok:
                    type: boolean
                    const: true
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/NotificationV1"
                  pagination:
                    $ref: "#/components/schemas/PaginationMeta"
                  meta:
                    $ref: "#/components/schemas/ResponseMeta"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/InternalError"
  /notifications/{notificationId}:
    get:
      operationId: getNotification
      summary: Get notification by ID
      tags:
        - Notifications
      x-implementation-status: planned
      x-required-permission: legal.notification.view
      security:
        - SessionCookie: []
        - BearerAuth: []
      parameters:
        - $ref: "#/components/parameters/CorrelationId"
        - name: notificationId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Notification detail
          content:
            application/json:
              schema:
                type: object
                required:
                  - ok
                  - data
                  - meta
                properties:
                  ok:
                    type: boolean
                    const: true
                  data:
                    $ref: "#/components/schemas/NotificationV1"
                  meta:
                    $ref: "#/components/schemas/ResponseMeta"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"
    patch:
      operationId: updateNotification
      summary: Mark notification read/unread
      tags:
        - Notifications
      x-implementation-status: planned
      x-required-permission: legal.notification.edit
      security:
        - SessionCookie: []
        - BearerAuth: []
      parameters:
        - $ref: "#/components/parameters/CorrelationId"
        - name: notificationId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateNotificationV1Request"
      responses:
        "200":
          description: Updated notification
          content:
            application/json:
              schema:
                type: object
                required:
                  - ok
                  - data
                  - meta
                properties:
                  ok:
                    type: boolean
                    const: true
                  data:
                    $ref: "#/components/schemas/NotificationV1"
                  meta:
                    $ref: "#/components/schemas/ResponseMeta"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "400":
          $ref: "#/components/responses/ValidationError"
        "500":
          $ref: "#/components/responses/InternalError"
  /health:
    get:
      operationId: getLegalApiHealth
      summary: API liveness probe
      tags:
        - Health
      x-implementation-status: implemented
      security: []
      parameters:
        - $ref: "#/components/parameters/CorrelationId"
      responses:
        "200":
          description: Healthy
          content:
            application/json:
              schema:
                type: object
                required:
                  - ok
                  - data
                  - meta
                properties:
                  ok:
                    type: boolean
                    const: true
                  data:
                    $ref: "#/components/schemas/HealthV1"
                  meta:
                    $ref: "#/components/schemas/ResponseMeta"
        "500":
          $ref: "#/components/responses/InternalError"
  /diagnostics:
    get:
      operationId: getLegalApiDiagnostics
      summary: Authenticated scaffold diagnostics
      tags:
        - Health
      x-implementation-status: implemented
      x-required-permission: legal.nav.dashboard.view
      security:
        - SessionCookie: []
        - BearerAuth: []
      parameters:
        - $ref: "#/components/parameters/CorrelationId"
      responses:
        "200":
          description: Diagnostics payload
          content:
            application/json:
              schema:
                type: object
                required:
                  - ok
                  - data
                  - meta
                properties:
                  ok:
                    type: boolean
                    const: true
                  data:
                    $ref: "#/components/schemas/DiagnosticsV1"
                  meta:
                    $ref: "#/components/schemas/ResponseMeta"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "500":
          $ref: "#/components/responses/InternalError"
components:
  securitySchemes:
    SessionCookie:
      type: apiKey
      in: cookie
      name: better-auth.session_token
      description: Better Auth session cookie (browser clients).
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: opaque
      description: Better Auth session token (programmatic clients).
    ApiKeyAuth:
      type: apiKey
      in: header
      name: Authorization
      description: "Format: ApiKey {keyId}:{secret} (planned — not yet implemented)."
  parameters:
    CorrelationId:
      name: x-correlation-id
      in: header
      required: false
      schema:
        type: string
        maxLength: 128
        pattern: ^[A-Za-z0-9_.-]+$
      description: Client trace identifier; echoed in response meta.
    IdempotencyKey:
      name: x-idempotency-key
      in: header
      required: false
      schema:
        type: string
        format: uuid
      description: Required on POST create operations that allocate server references.
    IfMatch:
      name: if-match
      in: header
      required: false
      schema:
        type: string
      description: Entity version (ETag) for optimistic concurrency on PATCH/DELETE.
    Limit:
      name: limit
      in: query
      required: false
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 25
    Cursor:
      name: cursor
      in: query
      required: false
      schema:
        type: string
      description: Opaque pagination cursor from a previous list response.
    Sort:
      name: sort
      in: query
      required: false
      schema:
        type: string
      description: Comma-separated sort fields; prefix `-` for descending.
    Fields:
      name: fields
      in: query
      required: false
      schema:
        type: string
      description: Sparse field selection (comma-separated). Summary fields always included.
    Include:
      name: include
      in: query
      required: false
      schema:
        type: string
      description: Comma-separated expansion tokens (e.g. client,matter,lineItems).
  responses:
    Unauthorized:
      description: Authentication required or invalid.
      headers:
        x-request-id:
          $ref: "#/components/headers/XRequestId"
        x-correlation-id:
          $ref: "#/components/headers/XCorrelationId"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorEnvelope"
          example:
            ok: false
            error:
              code: UNAUTHENTICATED
              message: Authentication is required to access this resource.
            meta:
              requestId: 550e8400-e29b-41d4-a716-446655440000
              correlationId: partner-corr-001
              timestamp: "2026-07-06T10:00:00.000Z"
    Forbidden:
      description: Permission denied or tenant could not be resolved.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorEnvelope"
    NotFound:
      description: Resource not found within tenant scope.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorEnvelope"
    ValidationError:
      description: Request validation failed.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ValidationErrorEnvelope"
    Conflict:
      description: State or version conflict.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorEnvelope"
    PreconditionFailed:
      description: Optimistic concurrency failure (If-Match mismatch).
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorEnvelope"
    UnsupportedMediaType:
      description: Content-Type not supported.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorEnvelope"
    UnprocessableEntity:
      description: Semantically invalid request (business rule violation).
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorEnvelope"
    RateLimited:
      description: Rate limit exceeded.
      headers:
        x-ratelimit-limit:
          schema:
            type: integer
        x-ratelimit-remaining:
          schema:
            type: integer
        x-ratelimit-reset:
          schema:
            type: integer
        retry-after:
          schema:
            type: integer
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorEnvelope"
    InternalError:
      description: Unexpected server error.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorEnvelope"
    MethodNotAllowed:
      description: HTTP method not supported for this route.
      headers:
        Allow:
          schema:
            type: string
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorEnvelope"
  headers:
    XRequestId:
      description: Server-generated per-request identifier.
      schema:
        type: string
        format: uuid
    XCorrelationId:
      description: Echoed correlation identifier.
      schema:
        type: string
    ETag:
      description: Entity version fingerprint.
      schema:
        type: string
    Location:
      description: URL of created resource.
      schema:
        type: string
        format: uri
  schemas:
    ResponseMeta:
      type: object
      required:
        - requestId
        - correlationId
        - timestamp
      properties:
        requestId:
          type: string
          format: uuid
        correlationId:
          type: string
        timestamp:
          type: string
          format: date-time
    PaginationMeta:
      type: object
      required:
        - limit
        - hasMore
      properties:
        limit:
          type: integer
          minimum: 1
          maximum: 100
        nextCursor:
          type:
            - string
            - "null"
        prevCursor:
          type:
            - string
            - "null"
        hasMore:
          type: boolean
        totalCount:
          type:
            - integer
            - "null"
          description: Present only when include=totalCount is requested.
    ErrorBody:
      type: object
      required:
        - code
        - message
      properties:
        code:
          type: string
        message:
          type: string
        details:
          oneOf:
            - type: object
              additionalProperties: true
            - type: array
              items: {}
        documentationUrl:
          type: string
          format: uri
    ErrorEnvelope:
      type: object
      required:
        - ok
        - error
        - meta
      properties:
        ok:
          type: boolean
          const: false
        error:
          $ref: "#/components/schemas/ErrorBody"
        meta:
          $ref: "#/components/schemas/ResponseMeta"
    ValidationErrorDetail:
      type: object
      required:
        - field
        - code
        - message
      properties:
        field:
          type: string
        code:
          type: string
        message:
          type: string
    ValidationErrorEnvelope:
      allOf:
        - $ref: "#/components/schemas/ErrorEnvelope"
        - type: object
          properties:
            error:
              type: object
              properties:
                code:
                  type: string
                  const: VALIDATION_FAILED
                details:
                  type: array
                  items:
                    $ref: "#/components/schemas/ValidationErrorDetail"
    ResourceTimestamps:
      type: object
      required:
        - createdAt
        - updatedAt
      properties:
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
    VersionedResource:
      type: object
      required:
        - version
      properties:
        version:
          type: integer
          minimum: 1
          description: Optimistic concurrency token; use as If-Match / ETag.
    LookupReferenceV1:
      type: object
      required:
        - id
        - reference
        - label
      properties:
        id:
          type: string
        reference:
          type: string
        label:
          type: string
        href:
          type: string
          format: uri
          description: API path to detail resource.
    MoneyAmount:
      type: object
      required:
        - amount
        - currency
      properties:
        amount:
          type: string
          description: Decimal amount as string to preserve precision.
          pattern: ^-?\d+(\.\d{1,4})?$
        currency:
          type: string
          minLength: 3
          maxLength: 3
    CustomFields:
      type: object
      additionalProperties:
        type: string
    Tags:
      type: array
      items:
        type: string
    ClientStatus:
      type: string
      enum:
        - prospect
        - active
        - inactive
        - archived
    ClientType:
      type: string
      enum:
        - individual
        - organisation
    MatterStatus:
      type: string
      enum:
        - prospect
        - open
        - pending
        - on_hold
        - closed
        - archived
    MatterPriority:
      type: string
      enum:
        - low
        - normal
        - high
        - urgent
    TaskStatus:
      type: string
      enum:
        - not_started
        - in_progress
        - blocked
        - completed
        - cancelled
    TaskPriority:
      type: string
      enum:
        - low
        - normal
        - high
        - critical
    DocumentStatus:
      type: string
      enum:
        - draft
        - review
        - approved
        - filed
        - superseded
        - archived
    DocumentType:
      type: string
      enum:
        - pleading
        - contract
        - correspondence
        - evidence
        - research
        - invoice
        - other
    CalendarEventType:
      type: string
      enum:
        - hearing
        - deadline
        - appointment
        - reminder
        - internal
    BillingStatus:
      type: string
      enum:
        - unbilled
        - billed
        - written_off
    InvoiceStatus:
      type: string
      enum:
        - draft
        - issued
        - sent
        - partially_paid
        - paid
        - overdue
        - void
        - written_off
    EntityType:
      type: string
      enum:
        - client
        - matter
        - document
        - task
        - calendar_event
        - time_entry
        - invoice
    ClientSummaryV1:
      allOf:
        - $ref: "#/components/schemas/ResourceTimestamps"
        - type: object
          required:
            - clientId
            - clientReference
            - displayName
            - clientType
            - status
          properties:
            clientId:
              type: string
            clientReference:
              type: string
              example: CLT-2026-00042
            displayName:
              type: string
            clientType:
              $ref: "#/components/schemas/ClientType"
            status:
              $ref: "#/components/schemas/ClientStatus"
            tags:
              $ref: "#/components/schemas/Tags"
    ClientDetailV1:
      allOf:
        - $ref: "#/components/schemas/ClientSummaryV1"
        - $ref: "#/components/schemas/VersionedResource"
        - type: object
          properties:
            primaryContactId:
              type:
                - string
                - "null"
            billingAddressId:
              type:
                - string
                - "null"
            customFields:
              $ref: "#/components/schemas/CustomFields"
    ClientArchiveResponseV1:
      type: object
      required:
        - clientId
        - status
      properties:
        clientId:
          type: string
        status:
          type: string
          enum:
            - archived
    CreateClientV1Request:
      type: object
      required:
        - displayName
        - clientType
        - status
      properties:
        displayName:
          type: string
          minLength: 1
          maxLength: 256
        clientType:
          $ref: "#/components/schemas/ClientType"
        status:
          $ref: "#/components/schemas/ClientStatus"
        tags:
          $ref: "#/components/schemas/Tags"
        customFields:
          $ref: "#/components/schemas/CustomFields"
    UpdateClientV1Request:
      type: object
      properties:
        displayName:
          type: string
          minLength: 1
          maxLength: 256
        status:
          $ref: "#/components/schemas/ClientStatus"
        tags:
          $ref: "#/components/schemas/Tags"
        customFields:
          $ref: "#/components/schemas/CustomFields"
    MatterSummaryV1:
      allOf:
        - $ref: "#/components/schemas/ResourceTimestamps"
        - type: object
          required:
            - matterId
            - matterReference
            - title
            - clientId
            - matterStatus
            - priority
          properties:
            matterId:
              type: string
            matterReference:
              type: string
              example: MAT-2026-00118
            title:
              type: string
            clientId:
              type: string
            matterStatus:
              $ref: "#/components/schemas/MatterStatus"
            priority:
              $ref: "#/components/schemas/MatterPriority"
            leadAttorneyId:
              type: string
            openedAt:
              type: string
              format: date-time
    MatterDetailV1:
      allOf:
        - $ref: "#/components/schemas/MatterSummaryV1"
        - $ref: "#/components/schemas/VersionedResource"
        - type: object
          properties:
            description:
              type:
                - string
                - "null"
            matterTypeId:
              type: string
            practiceAreaId:
              type: string
            closedAt:
              type:
                - string
                - "null"
              format: date-time
            courtId:
              type:
                - string
                - "null"
            judgeId:
              type:
                - string
                - "null"
            teamMemberIds:
              type: array
              items:
                type: string
            tags:
              $ref: "#/components/schemas/Tags"
            customFields:
              $ref: "#/components/schemas/CustomFields"
    CreateMatterV1Request:
      type: object
      required:
        - title
        - clientId
        - matterTypeId
        - practiceAreaId
        - leadAttorneyId
      properties:
        title:
          type: string
          minLength: 1
        description:
          type: string
        clientId:
          type: string
        matterTypeId:
          type: string
        practiceAreaId:
          type: string
        priority:
          $ref: "#/components/schemas/MatterPriority"
        leadAttorneyId:
          type: string
        teamMemberIds:
          type: array
          items:
            type: string
        tags:
          $ref: "#/components/schemas/Tags"
        customFields:
          $ref: "#/components/schemas/CustomFields"
    UpdateMatterV1Request:
      type: object
      properties:
        title:
          type: string
        description:
          type:
            - string
            - "null"
        matterStatus:
          $ref: "#/components/schemas/MatterStatus"
        priority:
          $ref: "#/components/schemas/MatterPriority"
        leadAttorneyId:
          type: string
        teamMemberIds:
          type: array
          items:
            type: string
        tags:
          $ref: "#/components/schemas/Tags"
        customFields:
          $ref: "#/components/schemas/CustomFields"
    DocumentSummaryV1:
      allOf:
        - $ref: "#/components/schemas/ResourceTimestamps"
        - type: object
          required:
            - documentId
            - documentReference
            - title
            - documentType
            - documentStatus
            - matterId
          properties:
            documentId:
              type: string
            documentReference:
              type: string
            title:
              type: string
            documentType:
              $ref: "#/components/schemas/DocumentType"
            documentStatus:
              $ref: "#/components/schemas/DocumentStatus"
            matterId:
              type: string
            fileName:
              type: string
            mimeType:
              type: string
            sizeBytes:
              type: integer
    DocumentDetailV1:
      allOf:
        - $ref: "#/components/schemas/DocumentSummaryV1"
        - $ref: "#/components/schemas/VersionedResource"
        - type: object
          properties:
            documentCategoryId:
              type: string
            clientId:
              type:
                - string
                - "null"
            folderId:
              type:
                - string
                - "null"
            createdByUserId:
              type: string
            tags:
              $ref: "#/components/schemas/Tags"
            customFields:
              $ref: "#/components/schemas/CustomFields"
    CreateDocumentV1Request:
      type: object
      required:
        - title
        - documentType
        - matterId
        - fileName
        - mimeType
        - sizeBytes
      properties:
        title:
          type: string
        documentType:
          $ref: "#/components/schemas/DocumentType"
        matterId:
          type: string
        documentCategoryId:
          type: string
        fileName:
          type: string
        mimeType:
          type: string
        sizeBytes:
          type: integer
          minimum: 0
        tags:
          $ref: "#/components/schemas/Tags"
        customFields:
          $ref: "#/components/schemas/CustomFields"
    UpdateDocumentV1Request:
      type: object
      properties:
        title:
          type: string
        documentStatus:
          $ref: "#/components/schemas/DocumentStatus"
        documentCategoryId:
          type: string
        folderId:
          type:
            - string
            - "null"
        tags:
          $ref: "#/components/schemas/Tags"
        customFields:
[...]
